APP_ID: com.jyrwaboys.employeemobile.dev
EXPO_URL: 
API_URL: 

# Correct Credentials for Successful Login Test
TEST_PHONE: "9*********"
TEST_PASSWORD: "Password@123"

# Add any other development-specific test variables here.
